
html,
body {
	height: 100% !important ;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #C0C0C0;
	background-color: #000000;
	overflow-x: hidden;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container{
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}
.container-fluid{
	max-width: 1188px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	
}
.content{
	max-width: 1168px;
	margin: 0 auto;
	padding: 0 10px;

}

body::-webkit-scrollbar {
	width: 10px; 
  }
  
  body::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 5px; 
  }

  body::-webkit-scrollbar-track {
	background-color: #000000; 
  }



// .swal2-html-container{
// 	overflow: hidden;
// }
// input[type="email"] {
//     text-align: left;
//   }